.caract{
    font-weight: bolder ;
    color: #2874A6 ;
    font-size: 100%;
    margin-left:5px;
    text-shadow: 0.2px 0.2px 1px #2C3E50;
}
.etapa{
    font-weight: bolder;
    font-size: 105%;
    text-decoration:underline;
}