.list_prob{
    font-size: 0.8em;
    list-style-type:none !important;
}
.prob_title{
    font-size: 90%;
    text-decoration:none !important;
    text-align:center !important;
    color: #34495E !important;
    font-family: 'Montserrat', sans-serif !important;
}
.sym{
    // background-color:darkgrey !important;
    border-radius: 5px !important;
    box-shadow: 0.5px 0.3px 1px gray;
    padding:1px 3px;
    margin:2px 3px;

}